# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build

# IntelliJ IDEA - user-specific files
**workspace.xml
**usage.statistics.xml
**tasks.xml
/shelf
**.iml
/.idea/modules.xml
/.idea/libraries/*.xml
/.idea/misc.xml

